.register {
  height: 120vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;

  justify-content: center;

  @media screen and (max-width: 768px) {
    height: 110vh;
  }
  @media screen and (max-width: 520px) {
    height: 120vh;
  }
  @media screen and (max-width: 500px) {
    height: 100vh;
  }

  .card {
    width: 60%;
    flex-direction: column;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;


    .left {
      flex: 1;
      background: linear-gradient(
          rgba(39, 11, 96, 0.5),
          rgba(39, 11, 96, 0.5)
        ),
        url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      padding-top: 0;
      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      // gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 1440px) {
    .card {
      width: 70%;
      .left {
        h1 {
          font-size: 80px;
          line-height: 80px;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .card {
      width: 80%;
      .left {
        h1 {
          font-size: 70px;
          line-height: 70px;
        }
      }
    }
  }

  // Media queries for responsive design
  @media screen and (max-width: 768px) {

    .card {
      flex-direction: column;
      width: 90%;

      .right{
        padding: 40px;
        padding-top: 20px;
        h1{
          font-size: 28px;
        }
        form{
          gap: 20px;
        }
      }

      .left {
        padding: 30px;
        padding-top: 0;
        h1 {
          font-size: 60px;
          line-height: 60px;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .card {
      width: 95%;

      .right{
        padding: 30px;
        padding-top: 20px;
        h1{
          font-size: 26px;
        }
        form{
          gap: 10px;
        }
        button{
          margin-top: 10px;
        }
      }
      .left {
        padding: 20px;
        padding-top: 0;
        h1 {
          font-size: 50px;
          line-height: 50px;
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    .card {
      width: 95%;
      .right{
        padding: 20px;
        padding-top: 10px;
      }
      .left {
        padding: 15px;
        padding-top: 0;
        h1 {
          font-size: 40px;
          line-height: 40px;
        }
      }
    }
  }
}
